iframe {
  border: 3px solid rgb(255, 0, 0);
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

th {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  font-weight: bold;
}

td {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.footer {
 text-align: center;
 color: #FFFFFF;
 background-color: black;
}

.footer a:visited {
  color: #FFFFFF;
}

a:link { color: red; text-decoration: none; }
a:visited { color:red; text-decoration: none; }
a:hover { color:#400000; text-decoration: underline; }
a:active { color:red; text-decoration: underline; }

li {
  list-style: none;
  background-image: url(../images/music.png);
  background-repeat: no-repeat;
  padding-left: 25px;
  margin-bottom: 10px;
  margin-left: -30px;
  font-family: Arial, sans-serif;
}

.ind {
  margin-left: 10px;
}

.ind p::first-letter {
  font-weight: bold;
  color: red;
}

.bold {
  font-weight: bold;
}

body {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(75, 75, 75);
  box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
  border-radius: 20px;
  max-width: 760px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 15px;
}

.main {
  padding: 10px;
}

.header {
  text-align: center;
}

figure {
  float: right;
  width: 300px;
  height: 200px;
  margin: 15px;
  position: relative;
  border: 3px solid rgb(255, 0, 0);
  border-radius: 5px;
  margin-left: 20px;
}

.header img {
  width: 300px;
}

figure img {
  width: 300px;
}

figcaption {
  position: absolute;
  top: 15%;
  bottom: 55%;
  left: 0;
  right: 0;
  background-color: rgba(153, 153, 153, .9);
  padding: 20px;
  font-family: Titillium, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity .75s ease-out;
}

figure:hover figcaption {
  opacity: 1;
}

table {
  width: 400px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.tbl {
  float: right;
}

.tbl p {
  text-align: right;
  font-size: .7em;
  padding-right: 20px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

td:nth-child(2) {text-align: center;}

#red {
 color: red;
}







