html {
  background-color: rgb(34, 34, 34);
  font-size: 105%;
}

body {
  background-color: rgb(255, 255, 255);
  /* border: 3px solid rgb(75, 75, 75); */
  box-shadow: 0 0 15px 5px rgba(104, 191, 231, 0.75);
  /* box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75); */
  border-radius: 20px;
  width: 90%;
  max-width: 960px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
  line-height: 1.5;
}

h1 {
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(23, 81, 126);
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
}

h2 {
  font-size: larger;
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  color: rgb(249, 107, 24);
  border-top: 2px dotted rgb(23, 81, 126);
  border-bottom: 2px dotted rgb(23, 81, 126);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 15px 0 15px 0;
  overflow: hidden;
}

.poiret {
  font-family: 'Poiret One', cursive;
}

.my_photo {
  box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
  border-radius: 20px;
  display: block;
  margin: auto;
}

.my_photop {
  box-shadow: 0 0 15px 5px rgba(44, 82, 100, .75);
  border-radius: 20px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

a[href^="mailto"] {
  font-family: "Courier New", monospace;
  background: url(../images/email.png) no-repeat left center;
  padding-left: 35px;
}

a[href^="https://twitter"] {
  font-family: "Courier New", monospace;
  background: url(../images/twitter.png) no-repeat left center;
  padding-left: 35px;
}

a[href^="https://github"] {
  font-family: "Courier New", monospace;
  background: url(../images/github.png) no-repeat left center;
  padding-left: 35px;
}

a[href^="https://uci"] {
  font-family: "Courier New", monospace;
  background: url(../images/gitlab.png) no-repeat left center;
  padding-left: 35px;
}

a[href^="https://stack"] {
  font-family: "Courier New", monospace;
  background: url(../images/stack-overflow.png) no-repeat left center;
  padding-left: 35px;
}

a[href^="https://reising"] {
  font-family: "Courier New", monospace;
  background: url(../images/camera.jpg) no-repeat left center;
  padding-left: 35px;
}

a[href^="https://lily"] {
  font-family: "Courier New", monospace;
  background: url(../images/camera.jpg) no-repeat left center;
  padding-left: 35px;
}

a {
  font-family: Arial, sans-serif;
}

ul {
  padding-left: 1.2em;
  list-style: none;
}

.tool:link {
  color: red;
  text-decoration: none;
}

.tool:visited {
  color: red;
  text-decoration: none;
}

.tool:hover {
  color: #400000;
  text-decoration: underline;
}

.tool:active {
  color: red;
  text-decoration: underline;
}

.murder li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: url(../images/murder.png) no-repeat left center;
  padding-left: 35px;
}

footer {
  border: 2px solid black;
  background-image: linear-gradient(to right, black, rgb(23, 81, 126), rgb(23, 81, 126), white);
  color: whitesmoke;
  text-align: center;
  font-size: small;
  border-radius: 5px;
  margin-top: 10px;
}